body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
}

.alerta {
  background: #d7263d;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0d0d0d;
  padding: 1rem;
}

.logo {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
  text-align: center;
}

footer {
  background: #111;
  color: #ccc;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.lista-abrigos, .dicas {
  text-align: left;
  margin: auto;
  max-width: 600px;
  line-height: 2;
}
